<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>载体详情</title>
	 <!-- 编码格式 -->
  <meta charset="UTF-8">
  <title></title>
  <!-- 作者 -->
  <meta name="author" content="yKoala">
  <!-- 网页描述 -->
  <meta name="description" content="系统设置--载体详情">
  <!-- 关键字使用","分隔 -->
  <meta name="keywords" content="载体详情">
  <!-- 禁止浏览器从本地机的缓存中调阅页面内容 -->
  <meta http-equiv="Pragma" content="no-cache">
  <!-- 用来防止别人在框架里调用你的页面 -->
  <meta http-equiv="Window-target" content="_top">
  <!-- content的参数有all，none，index，noindex，follow，nofollow，默认是all -->
  <meta name="robots" content="none">
  <!-- 网页不会被缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <!-- 解决部分兼容性问题，如果安装了GCF，则使用GCF来渲染页面，如果未安装GCF，则使用最高版本的IE内核进行渲染。 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 页面按原比例显示 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
     <script src="/resource/js/html5shiv.min.js"></script>
     <script src="/resource/js/respond.min.js"></script>
     <script src="/resource/js/pie.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resource/css/reset.css">
  <style type="text/css">
  #carrrierDet{bottom:60px;}
  #IDlaypage{padding: 0 0 14px; position: absolute; left: 0; width: 100%; bottom: 0;}
  #carrrierDet table {font-size: 54%;}
  #carrrierDet th,#carrrierDet td{white-space: nowrap;}
  </style>
</head>
<body>
  <div id="container">
    <div id="content">
      <div id="header">
        <i></i>
        <a href="/html/logic/monitoringImg"></a>
        <strong></strong>
      </div>
      <div id="contentBody">
        <div class="contentContainerBody">
          <div class="title"><span id="typeTitle"></span>状态汇总</div>
          <div class="toBody" id="carrrierDet">
           <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>柜体号</th>
                <th>柜门号</th>
                <th>载体编号</th>
                <th>载体类型</th>
                <th>所属单位</th>
                <th>使用单位</th>
                <th>使用人</th>
                <th>是否在位</th>
                <th>授权时间</th>
                <th>预计归还时间</th>
                <th>实际归还时间</th>
                <th>逾期时长(单位：天)</th>
              </tr>
            </thead>
            <tbody class="addContent">
            </tbody>
           </table>
          </div>
			<div id="IDlaypage"></div>
        </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="footerContent">
        <strong>© 2010-2018</strong>
        空军研究院保密委员会监制
        <i></i>
        <span  id="currentTimes"></span>
      </div>
    </div>
  </div>
  <div class="errorBox"></div>
  <script src="/resource/js/jquery.min.js"></script>
  <script src="/resource/js/laypage.js"></script>
	<script src="/resource/js/common.js"></script>
  <script>
    $(function(){
    	headerLink();
       HtmlFontsize()
      window.onresize = function(){
        HtmlFontsize()
      }
       
       var branchQuerryUrl = "/depart/carrier/query/bydevicetype";
       var branchQuerryType = "get";
       var typeName=GetQueryString("title");
		$("#typeTitle").text(typeName) ;
       var branchQuerryData = {carriertypeId:GetQueryString("carriertypeId")};
       var branchQuerrySuc = function(res){
         /*res = JSON.parse(res);*/
         if(res.type==0){
			dataRender({
				laypageId:'IDlaypage',
				listMain:$(".addContent"),
				data:res.data.carrierStatusList, //数据
				otherData:{colspanNum:0,latticeId:0},
				itemHtml:function(index, el){
					var status=Number(el.status)===777777;
					return '<tr class="'+(status?'gC_yellow_lt':'')+'">'+ 
					'<td>'+ (index+1) +'</td>'+ //ID
					'<td>'+ el.cabinetNumber +'</td>'+ //柜体号
					'<td>'+ el.latticeId +'</td>'+ //柜门号
					'<td>'+ el.device_serialnum +'</td>'+ //载体编号
					'<td>'+ typeName +'</td>'+ //载体类型
					'<td>'+ el.carrierFrom +'</td>'+ //所属单位
					'<td>'+ el.userFrom +'</td>'+ //使用单位
					'<td>'+ el.userName +'</td>'+ //使用人
					'<td>'+ statusText(0,el.status)+'</td>'+ //是否在位
					'<td>'+ el.approvetime +'</td>'+
					'<td>'+ el.planbacktime +'</td>'+
					'<td>'+ el.optime +'</td>'+
					'<td>'+ el.expireTime +'</td>'+
					'</tr>';
				}
			});
         }else if(res.type==4){
           window.parent.location.href = "/html/login";
         }else{
           toastFn(res.detail);
           return;
         }
       }
       takeAjax(branchQuerryUrl,branchQuerryType,branchQuerryData,branchQuerrySuc);
       
       
    })
    
    setInterval(currentTimes,1000);
  </script>
</body>
</html>