<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	 <!-- 编码格式 -->
  <meta charset="UTF-8">
  <title></title>
  <!-- 作者 -->
  <meta name="author" content="yKoala">
  <!-- 网页描述 -->
  <meta name="description" content="系统设置--登录">
  <!-- 关键字使用","分隔 -->
  <meta name="keywords" content="登录">
  <!-- 禁止浏览器从本地机的缓存中调阅页面内容 -->
  <meta http-equiv="Pragma" content="no-cache">
  <!-- 用来防止别人在框架里调用你的页面 -->
  <meta http-equiv="Window-target" content="_top">
  <!-- content的参数有all，none，index，noindex，follow，nofollow，默认是all -->
  <meta name="robots" content="none">
  <!-- 网页不会被缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <!-- 解决部分兼容性问题，如果安装了GCF，则使用GCF来渲染页面，如果未安装GCF，则使用最高版本的IE内核进行渲染。 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 页面按原比例显示 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
     <script src="/resource/js/html5shiv.min.js"></script>
     <script src="/resource/js/respond.min.js"></script>
     <script src="/resource/js/pie.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resource/css/reset.css">
  <link rel="stylesheet" href="/resource/css/login.css">
</head>
<body>
  <div id="container">
    <div id="content">
      <div id="header">
        <i></i>
        <span></span>
        <strong></strong>
      </div>
      <div id="contentBody">
        <div class="contentContainerBody">
          <div class="title">登录</div>
          <div class="toBody">
            <div>
              <label for="username">用户名：</label>
              <input type="text" id="username">
            </div>
            <div>
              <label for="keyword">口　令：</label>
              <input type="password" id="keyword">
            </div>
            <div>
              <label></label>
              <button id="submitBtn">登录</button>
            </div>
            <div class="choose">
              <label for=""></label>
              <span  class="chooseSpan"></span>记住口令
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="footerContent">
        <strong>© 2010-2018</strong>
        空军研究院保密委员会监制
        <b></b>
        <span id="currentTimes"></span>
      </div>
    </div>
  </div>
  <div class="errorBox"></div>
  <script src="/resource/js/jquery.min.js"></script>
	<script src="/resource/js/common.js"></script>
  <script>
    $(function(){
    	headerLink();
      HtmlFontsize();
      window.onresize = function(){
        HtmlFontsize();
      }
      //勾选记住口令
      $('.chooseSpan').on('click', function(event) {
        event.preventDefault();
        $(this).toggleClass("active")
      });

      //发送请求
      $("#submitBtn").on('click', function(event) {
        event.preventDefault();
        var username = $.trim($("#username").val());
        var password = $.trim($("#keyword").val());
        var loginUrl = "/system/login";
        var loginType = "post";
        var loginData = {username:username,password:password};
        var loginSuc = function(res){
          /*res = JSON.parse(res);*/;
          if(res.type==0){
            if(res.data.isTempManager){
              location.href = "/html/setLogin"
            }else if(res.data.type == 1){
                location.href = location.href = "/html/logic/controller?username="+username;
            }else if(res.data.type == 3){
              location.href = "/html/logic/monitoringImg?departId="+res.data.deptId
            }else if(res.data.type == 2){
              location.href = "/html/logicbranch/monitoring?departId="+res.data.deptId
            }
            commonToken = res.data.token;
          }else{
            toastFn(res.detail)
          }
        }
        takeAjax(loginUrl,loginType,loginData,loginSuc)
      });

    })
    
    setInterval(currentTimes,1000);
  </script>
</body>
</html>