<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>监控系统</title>
   <!-- 编码格式 -->
  <meta charset="UTF-8">
  <title></title>
  <!-- 作者 -->
  <meta name="author" content="yKoala">
  <!-- 网页描述 -->
  <meta name="description" content="监控系统">
  <!-- 关键字使用","分隔 -->
  <meta name="keywords" content="监控系统">
  <!-- 禁止浏览器从本地机的缓存中调阅页面内容 -->
  <meta http-equiv="Pragma" content="no-cache">
  <!-- 用来防止别人在框架里调用你的页面 -->
  <meta http-equiv="Window-target" content="_top">
  <!-- content的参数有all，none，index，noindex，follow，nofollow，默认是all -->
  <meta name="robots" content="none">
  <!-- 网页不会被缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <!-- 解决部分兼容性问题，如果安装了GCF，则使用GCF来渲染页面，如果未安装GCF，则使用最高版本的IE内核进行渲染。 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 页面按原比例显示 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
     <script src="/resource/js/html5shiv.min.js"></script>
     <script src="/resource/js/respond.min.js"></script>
     <script src="/resource/js/pie.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resource/css/reset.css">
  <link rel="stylesheet" href="/resource/css/monitoring.css">
</head>
<body>
  <div id="container">
    <div id="content">
      <div id="header">
        <i></i>
        <a href="/html/logic/monitoringImg"></a>
        <strong></strong>
      </div>
      <div id="contentBody">
        <div class="listContainer">
          <ol class="status">
            <li>载体总数<span class="darkBlue totalCount"></span></li>
            <li>在位数量<span class="blue inPosition"></span></li>
            <li class="overTime">正常外出<span class="orange timeoutNotBack"></span></li>
            <li class="goOut">外出逾期<span class="red gooutAndExpire"></span></li>
          </ol>
          <ul class="list">
            <li>
              <a href="/html/logic/monitoringImg?departId=3">
                <div class="branchName">空军后勤保障部</div>
                <ol class="branchStatus">
                  <li>载体总数<span class="darkBlue">45</span></li>
                  <li>在位数量<span class="blue">454</span></li>
                  <li>超时未回<span class="orange">64</span></li>
                  <li>外出逾期<span class="red">456</span></li>
                </ol>
              </a>
            </li>
            <li>
              <a href="/html/logic/monitoringImg?departId=3">
                <div class="branchName">空军后勤保障部</div>
                <ol class="branchStatus">
                  <li>载体总数<span class="darkBlue">45</span></li>
                  <li>在位数量<span class="blue">454</span></li>
                  <li>超时未回<span class="orange">64</span></li>
                  <li>外出逾期<span class="red">456</span></li>
                </ol>
              </a>
            </li>
            <li>
              <a href="/html/logic/monitoringImg?departId=3">
                <div class="branchName">空军后勤保障部</div>
                <ol class="branchStatus">
                  <li>载体总数<span class="darkBlue">45</span></li>
                  <li>在位数量<span class="blue">454</span></li>
                  <li>超时未回<span class="orange">64</span></li>
                  <li>外出逾期<span class="red">456</span></li>
                </ol>
              </a>
            </li>
            <li>
              <a href="/html/logic/monitoringImg?departId=3">
                <div class="branchName">空军后勤保障部</div>
                <ol class="branchStatus">
                  <li>载体总数<span class="darkBlue">45</span></li>
                  <li>在位数量<span class="blue">454</span></li>
                  <li>超时未回<span class="orange">64</span></li>
                  <li>外出逾期<span class="red">456</span></li>
                </ol>
              </a>
            </li>
            <li>
              <a href="/html/logic/monitoringImg?departId=3">
                <div class="branchName">空军后勤保障部</div>
                <ol class="branchStatus">
                  <li>载体总数<span class="darkBlue">45</span></li>
                  <li>在位数量<span class="blue">454</span></li>
                  <li>超时未回<span class="orange">64</span></li>
                  <li>外出逾期<span class="red">456</span></li>
                </ol>
              </a>
            </li>
            <li>
              <a href="/html/logic/monitoringImg?departId=3">
                <div class="branchName">空军后勤保障部</div>
                <ol class="branchStatus">
                  <li>载体总数<span class="darkBlue">45</span></li>
                  <li>在位数量<span class="blue">454</span></li>
                  <li>超时未回<span class="orange">64</span></li>
                  <li>外出逾期<span class="red">456</span></li>
                </ol>
              </a>
            </li>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="footerContent">
        <strong>© 2010-2018</strong>
        空军研究院保密委员会监制
        <i></i>
        <span id="currentTimes"></span>
      </div>
    </div>
  </div>
  <div class="errorBox"></div>
  <script src="/resource/js/jquery.min.js"></script>
  <script src="/resource/js/common.js"></script>
  <script>
    $(function(){
    	headerLink();
      HtmlFontsize()
      window.onresize = function(){
        HtmlFontsize()
      }
      //发送请求
      function timeAjax(){
        var monitoringUrl = "/monitor/controller/main";
        var monitoringType = "get";
        var monitoringData = "";
        var monitoringSuc = function(res){
          if(res.type==0){
            var totalStatistic = res.data.totalStatistic;
            var departStatistics = res.data.departStatistics;
            $(".status .totalCount").text(totalStatistic.totalCount);
            $(".status .inPosition").text(totalStatistic.inPosition);
            $(".status .timeoutNotBack").text(totalStatistic.gooutAndNormal); //改成了正常外出
            $(".status .gooutAndExpire").text(totalStatistic.gooutAndExpire);
            $(".list").empty();
            var html ="";
            $.each(departStatistics,function(index, el) {
              html+='<li>'+
                      '<a href="/html/logic/monitoringImg?departId='+ el.departId +'">'+
                        '<div class="branchName">'+ el.departName +'</div>'+
                        '<ol class="branchStatus">'+
                          '<li>载体总数<span class="darkBlue">'+ el.totalCount +'</span></li>'+
                          '<li>在位数量<span class="blue">'+ el.inPosition +'</span></li>'+
                          '<li>正常外出<span class="orange">'+ el.gooutAndNormal +'</span></li>'+
                          '<li>外出逾期<span class="red">'+ el.gooutAndExpire +'</span></li>'+
                        '</ol>'+
                      '</a>'+
                    '</li>'
            });
            $(".list").html(html);
          }else if(res.type==4){
            window.parent.location.href = "/html/login"
          }else{
            toastFn(res.detail);
            clearInterval(timer);
          }
        }
        takeAjax(monitoringUrl,monitoringType,monitoringData,monitoringSuc)
      }
      timeAjax()
      var timer = setInterval(timeAjax,5000)

    })
    setInterval(currentTimes,1000);
  </script>
</body>
</html>