<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>部门处室</title>
  <!-- 作者 -->
  <meta name="author" content="yKoala">
  <!-- 网页描述 -->
  <meta name="description" content="系统设置--部门处室">
  <!-- 关键字使用","分隔 -->
  <meta name="keywords" content="部门处室">
  <!-- 禁止浏览器从本地机的缓存中调阅页面内容 -->
  <meta http-equiv="Pragma" content="no-cache">
  <!-- 用来防止别人在框架里调用你的页面 -->
  <meta http-equiv="Window-target" content="_top">
  <!-- content的参数有all，none，index，noindex，follow，nofollow，默认是all -->
  <meta name="robots" content="none">
  <!-- 网页不会被缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <!-- 解决部分兼容性问题，如果安装了GCF，则使用GCF来渲染页面，如果未安装GCF，则使用最高版本的IE内核进行渲染。 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 页面按原比例显示 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/resource/css/branch.css">
</head>
<body>
  <div class="branch">
    <div class="add">
      处室名称：
      <input type="text" id="addInput" class="addInput">
      <button class="toAdd">增加</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>处室名称</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="addContent">
      </tbody>
    </table>
    <div id="IDlaypage"></div>
    <div class="sureEdit">
      <div class="sTitle">编辑部门处室信息<span class="toClose">X</span></div>
      <div class="editBody">
        <div>处室名称：<input type="text" id="roomNameModify"><input type="hidden" id="departIdModify"><button id="editsure">确认</button><button id="cancleEdit">取消</button></div>
      </div>
    </div>
  </div>
  <div class="errorBox"></div>
  <div id="shadow"></div>
  <script src="/resource/js/jquery.min.js"></script>
  <script src="/resource/js/laypage.js"></script>
  <script src="/resource/js/common.js"></script>
  <script>
  $(function(){
    //动态改变字体大小
      $("body").css("fontSize",$("#body", parent.document).css("fontSize"));
      window.onresize = function(){
        $("body").css("fontSize",$("#body", parent.document).css("fontSize"));
      }
		//发送获取初始数据
		var branchQuerryUrl = "/depart/subdepartment/query" , branchQuerryType = "get" , branchQuerryData = {departId:0};
		var branchQuerrySuc = function(res){
			if(res.type==0){
				dataRender({
	        		laypageId:'IDlaypage',
	        		listMain:$(".addContent"),
	        		data:res.data.departmentList, //数据
	        		itemHtml:function(index,el){
	        			//原代码开始
	        			return '<tr name="'+el.name+'" sId="'+ el.id_sub_department +'" pId="'+ el.parent_depart_id +'">'+
							'<td class="branchType">'+ el.name +'</td>'+
							'<td class="redact"><button>编辑</button></td>'+
							'<td class="delate"><button>删除</button></td>'+
							'</tr>';
						//原代码结束
	        		}
				});
			}else if(res.type==4){
				window.parent.location.href = "/html/login";
			}else{
				toastFn(res.detail); return;
			}
    }
    takeAjax(branchQuerryUrl,branchQuerryType,branchQuerryData,branchQuerrySuc)
    //发送增加请求
    $(".toAdd").on('click', function(event) {
      event.preventDefault();
      var departName = $.trim($("#addInput").val());
      var branchUrl = "/depart/subdepartment/add";
      var branchType = "post";
      var branchData = {departName:departName};
      if(!departName){
        toastFn("部门名称长度为1-10个字符");
        return;
      }
      var branchSuc = function(res){
        /*res = JSON.parse(res);*/;
        if(res.type==0){
          window.location.reload();
        }else if(res.type==4){
          window.parent.location.href = "/html/login"
        }else{
          toastFn(res.detail);
          return;
        }
      }
      takeAjax(branchUrl,branchType,branchData,branchSuc)
    })
    
    //编辑
    $("tbody").on('click', '.redact button', function(event) {
      event.preventDefault();
      var top=$('body,html').scrollTop()+20;
      $("#shadow").fadeIn();
      $(".sureEdit").css('top',top+'px').fadeIn();
      var departId = $(this).parent("td").parent("tr").attr("sId");
      var departName = $(this).parent("td").parent("tr").attr("name");
      //$(".editBody").attr({"rootNameModify":departName})
      $("#roomNameModify").val(departName);
      $("#departIdModify").val(departId);
    });

    //取消
    $(".cancleEdit").click(function(event) {
      /* Act on the event */
       $(".toClose").click()
    });
    $(".toClose").on('click', function(event) {
      event.preventDefault();
      $(".sureEdit").fadeOut();
      $("#shadow").fadeOut();
    });

    //确认修改
    $("#editsure").on('click', function(event) {
    	var departName = $("#roomNameModify").val();
        var departId = $("#departIdModify").val();
        var branchUrl = "/depart/subdepartment/update";
        var branchType = "post";
        var branchData = {departId:departId,departName:departName};
        var branchSuc = function(res){
          //res = JSON.parse(res);
          if(res.type==0){
            window.location.reload();
           // $("#addInput").val("")
          }else if(res.type==4){
            window.parent.location.href = "/html/login"
          }else{
            toastFn(res.detail);
            return;
          }
        }
        takeAjax(branchUrl,branchType,branchData,branchSuc)
  	  });
    
    
    //删除
    $("table").on('click', '.delate button', function(event) {
      event.preventDefault();
      /* Act on the event */
      var deleteUrl = "/depart/subdepartment/delete";
      var departId = $(this).parent("td").parent("tr").attr("sId");
      var departName = $(this).parent("td").parent("tr").attr("name");
      if(!confirm("确认删除<"+departName+">")){
  		return ;
  	}
      var deleteData = {departId:departId};
      var deleteType="post";
      var deleteSuc = function(res){
        if(res.type==0){
          //toastFn("删除成功！");
          //$(this).parent("td").parent("tr").remove();
          window.location.reload();
        }else if(res.type==4){
          window.parent.location.href = "/html/login"
        }else{
          toastFn(res.detail);
          return;
        }
      }
      takeAjax(deleteUrl,deleteType,deleteData,deleteSuc)
    });
    
  })
  </script>
</body>
</html>