<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>欢迎</title>
  <!-- 作者 -->
  <meta name="author" content="yKoala">
  <!-- 网页描述 -->
  <meta name="description" content="系统设置--欢迎">
  <!-- 关键字使用","分隔 -->
  <meta name="keywords" content="欢迎">
  <!-- 禁止浏览器从本地机的缓存中调阅页面内容 -->
  <meta http-equiv="Pragma" content="no-cache">
  <!-- 用来防止别人在框架里调用你的页面 -->
  <meta http-equiv="Window-target" content="_top">
  <!-- content的参数有all，none，index，noindex，follow，nofollow，默认是all -->
  <meta name="robots" content="none">
  <!-- 网页不会被缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
  <!-- 解决部分兼容性问题，如果安装了GCF，则使用GCF来渲染页面，如果未安装GCF，则使用最高版本的IE内核进行渲染。 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 页面按原比例显示 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/resource/js/jquery.min.js"></script>
  <script src="/resource/js/common.js"></script>
  <style>
    *{margin: 0;padding: 0;}
    .welcome{position: absolute;width:100%;height: 1.8em;left:0;top:50%;margin-top: -0.9em;margin-left:0;text-align: center;}
    .welcome>p{font-size: .3em;color:#6789ac;margin: 0 0 1em 0;}
    .welcome>button{width: 18.028em;height: 2.254em;line-height: 2.254em;background: #f4320a;font-size:.3em;color:#fff;outline:none;border:1px solid #f4320a;border-radius: .4em;-webkit-border-radius: .4em;-moz-border-radius: .4em;behavior: url("../js/PIE.htc");cursor: pointer;}
    .errorBox{display: none;background: #656d78;position: fixed;height: 2.16em;line-height:2.16em;text-align: center;color: #fff;font-size: .4em;left: 50%;top: 50%;margin-top: -.4em;border-radius: .5em;-webkit-border-radius: .5em;-moz-border-radius: .5em;behavior: url("../js/PIE.htc");width: 20em;margin-left: -10em;text-align: center;z-index:10000;}
  </style>
</head>
<body>
  <div class="welcome">
    <p>欢迎<span th:text="${manager.username}"></span></p>
    <button>退出登录</button>
  </div>
  <div class="errorBox">113232</div>
  <script>
    $(function(){
      $("body").css("fontSize",$("#body", parent.document).css("fontSize"));
      window.onresize = function(){
        $("body").css("fontSize",$("#body", parent.document).css("fontSize"));
      }
      $(".welcome span").text(GetParentQueryString("username"));
      //发送请求
      $(".welcome").on('click',"button", function(event) {
        event.preventDefault();
        var logoutUrl = "/system/logout";
        var logoutType = "post";
        var logoutData = {};
        var logoutSuc = function(res){
          /*res = JSON.parse(res);*/;
          if(res.type==0){
            window.parent.location.href = "/html/login"
          }else if(res.type==4){
            window.parent.location.href = "/html/login"
          }else{
            toastFn(res.detail)
          }
        }
        takeAjax(logoutUrl,logoutType,logoutData,logoutSuc)
      });

    })
  </script>
</body>
</html>